<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div id="container">
  <h1>[ 회원가입 ]</h1>
  <form action="/member/join" method="post" th:object="${joinForm}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <table>
      <tr>
        <th>아이디</th>
        <td>
          <input type="text" th:field="*{member_id}">
          <div class="error" th:errors="*{member_id}"></div>
        </td>
      </tr>
      <tr>
        <th>패스워드</th>
        <td>
          <input type="password" th:field="*{password}">
          <div class="error" th:errors="*{password}"></div>
        </td>
      </tr>
      <tr>
        <th>이름</th>
        <td>
          <input type="text" th:field="*{name}">
          <div class="error" th:errors="*{name}"></div>
        </td>
      </tr>
      <tr>
        <th>성별</th>
        <td>
          <th:block th:each="gender : ${T(com.example.board.model.member.GenderType).values()}">
            <label th:for="${#ids.next('gender')}" th:text="${gender.description}"></label>
            <input type="radio" th:field="*{gender}" th:value="${gender}">
          </th:block>
          <div class="error" th:errors="*{gender}"></div>
        </td>
      </tr>
      <tr>
        <th>생년월일</th>
        <td>
          <input type="date" th:field="*{birth}">
          <div class="error" th:errors="*{birth}"></div>
        </td>
      </tr>
      <tr>
        <th>이메일</th>
        <td>
          <input type="email" th:field="*{email}">
        </td>
      </tr>
    </table>
    <p>
    <div class="center">
      <input type="button" onclick="location.href='/'" value="메인으로">
      <input type="submit" value="회원가입">
      <input type="reset" value="다시작성">
  </div>
  </form>
</div>
</body>
</html>